server:
  port: 8080
  servlet:
    context-path:
spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:mydatabase;MODE=PostgreSQL
    username: sa
    password:

  jpa:
#    generate-ddl: true
    show-sql: true
    properties:
      hibernate:
#        ddl-auto: create-drop
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
        temp:
          use_jdbc_metadata_defaults: false

# фикс ошибка постгреса
        jdbc:
          lob:
            non_contextual_creation: true

  thymeleaf:
    encoding: UTF-8
    prefix: file:src/main/resources/templates/
    cache: false
  resources:
    static-locations: file:src/main/resources/static/


  jackson:
    serialization:
      indent_output: true
      fail-on-empty-beans: false

jwt:
  header: Authorization
  secret: proselyte
  expiration: 604800


upload:
  path: D:/D.BackEnd/spring/9732Shop4JavaSpringAngularJS/src/main/resources/static/js/img

