
.color-nav-bar{
    background: rgb(255, 183, 107);
    min-height: 75px;
    position: relative;
}

.shop4{
    color: #b45608;
}

.nav-link{
    color: #d08787;
}

.active{
    color: rgba(219, 39, 39, 0.93);
    background: rgb(97, 152, 213);
}




.error{
    color: red;
    border: 1px solid #b66a6a;
}


table {
    background: #fff;
    border: 1px solid #788D8E;
    margin: 0 auto;
}

td{
    border: #0F1214 solid;
    border-width: 0 1px;
    padding: 5px 8px;
}
th {
    background: #9EA3A3;
    border: #0F1214 solid;
    border-width: 0 1px;
    padding: 5px 8px;
}
