<h1>Product <span>{{info}}</span></h1>

<!--<fil-bar/>-->

<table>
    <tr>
        <td>size {{size}}</td>
        <td>название<br/></td>
        <td>описание</td>
        <td>цена<br/>
        <td>категории</td>
        <td></td>
    </tr>
    <tr>
        <td>*</td>
        <td><input type="text" ng-model="search.title" ng-value=""></td>
        <td><input type="text" ng-model="search.description" ng-value=""></td>
        <td><input type="text" ng-model="search.price" ng-value=""/></td>
        <td></td>
        <td></td>
    </tr>
    <tr ng-repeat="item in products | filter:search ">

        <td>{{$index+1}}</td>
        <td> {{item.title}}</td>

        <td><a href="#!/description/{{item.id}}"> {{item.description}} </a></td>
        <td> {{item.price}}</td>
        <td>
            <span ng-repeat="c in item.categories ">
                    {{c.title}}
            </span>
        </td>

        <td>
            <button>купить</button>
        </td>
    </tr>
</table>







